// Vars
$color: #6f42c1;
$bg-color: #2a1258;
$nav-bg-color: #dfceff;

//Breadcrumb
$breadcrumb-divider: quote(">") !default;

// Link
$link-color: $color !default;
$link-decoration: none !default;
$link-hover-decoration: underline !default;

// Button color
$primary: $color !default;

//Nav
$nav-link-color: black !important;
$nav-pills-link-active-color: black;
$nav-pills-border-radius: 10px;
$nav-pills-link-active-bg: $nav-bg-color;

//Sidebar
$sidebar-bg: $bg-color;

//Header Toggler
$header-toggler-color: $color;
$header-toggler-hover-color: $bg-color;

$enable-ltr: true;
$enable-rtl: true;


@import "@coreui/coreui/scss/coreui";
@import "@coreui/chartjs/scss/coreui-chartjs";
@import "layout";
@import "example";
